.nav{
    background-color: #f0e68c;
    width: 20%;
    display: inline-block;
    float: left;
}

.content{
    display: inline-block;
    width: 75%;
}
img{
    float: left;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 10px;;
}
.wrap{

}
